{
  "extends": ["stylelint-config-standard-scss"],
  "rules": {
    "alpha-value-notation": null,
    "number-leading-zero": null,
    "color-function-notation": null,
    "scss/no-global-function-names": null
  }
}
